[submodule "Game-Front-End"]
	path = Game-Front-End
	url = https://github.com/Meia-noite-eu-te-conto/Game-Front-End.git
[submodule "Game-Core"]
	path = Game-Core
	url = https://github.com/Meia-noite-eu-te-conto/Game-Core.git
[submodule "User-Session"]
	path = User-Session
	url = https://github.com/Meia-noite-eu-te-conto/User-Session.git
